
html {
  margin: 0px;
  padding: env(safe-area-inset);
  background-color: pink;
}

.parent {
  color: white;
  font-family: 'Alata', sans-serif;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: auto auto auto auto;
  gap: 0px 15px;
  grid-template-areas: 
    "logo logo logo"
    ". pitch ."
    ". nocta ."
    "footer footer footer";
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  width: 100%;
  font-family: Helvetica;
}

.pitch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: pitch;
}

.nocta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: nocta;
}

.drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: drop;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #282830;
}

.footerIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .conversational-form {
  position: relative;
  grid-area: nocta;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 43%;
  margin: 50px;
  border: 1px solid pink;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
} */

/* cf-context {
  position: relative;
  grid-area: nocta;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 43%;
  margin: 50px;
  border: 1px solid pink;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
} */

.conversational-form-inner {
  /* visibility: hidden; */
  color: white;
}

p {
  text-align: auto;
  text-justify: inter-character;
  font-size: 18px;
}

.contrast {
  color: #ff6666;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
}

.icon:hover {
  color: #ffc0cb;
}

a { 
  color: inherit; 
}

.experiment {
  border: 2px solid red;
  height: 750px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
}

.conversational-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #282830;
  box-shadow: 0 0 25px #282830;
  border-radius: 25px;
  overflow: auto;
  z-index: 1;
}

.nish {
  display: flex;
  fill: red;
  /* width: 100px;
  height: 182px; */
  font-size: 150px;
}

